@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  button[disabled] {
    color: rgb(176, 170, 170);
  }
}

.btn-lesson {
  @apply w-full sm:w-[200px] text-center sm:text-left px-2 mb-4 font-semibold border border-gray-300 p-1 rounded;
}

.nav-link {
  @apply w-[200px] block border rounded border-gray-300 shadow-lg p-2 text-center;
}
